/* Valores estandar*/


*{
	margin: 0px;
	padding: 0px;
}
img{
	background-size: 100% 100%;
}
body{
	margin: 0px;
	padding: 0px;
	background-image: url('../../../../img/texture/texture3.jpg');
	background-size: 20% 10%;	
	background-repeat: repeat;	
}
/*****************************************************************************************************************************************/
/*@paleta colores

	verde agua marina : 00dfd8;
	rosa claro        : ffb7d3;
	sapote claro      : ffbe36;
	amarillo claro    : eddd6a;
	

/* Contenedores de la aplicacion*/

.main-container{
	width: 100%;
	height: auto;
	margin: auto;
}
.content{
	width: 100%;
	height: auto;
	margin: auto;
}
.content-padding{
	padding-top: 20px;
    padding-bottom: 20px;
}
.header,
.footer{
	width:  100%;
}
.content-logo-position{			
	vertical-align:middle;
	margin-left: 40px;
}
/*Contenedores de los topic*/
.content-topic{
	position: absolute;
	top: 85px;	
	left: 15px;	
}
.header-topic{
	position: relative;
	width: auto;	
	padding-left: 15px;
	padding-top: 15px;	
	z-index: 2400;
}
.header-topic-dm-1{
	height: 100px;
}
.header-topic-dm-2{
	height: 80px;
}
.header-topic-dm-3{
	height: 60px;
}
.header-topic-dm-4{
	height: 50px;

}
.content-text-topic{
	position: relative;
	top: 70px;
	width: auto;
	height: auto;
	padding-left  : 20px;
	padding-right : 20px;
	padding-top   : 20px;	
	padding-bottom: 20px;
	z-index: 2400;	
}
.content-topic-dm-1{
	width: 550px;
	height: 430px;
}
.content-topic-dm-2{
	width: 450px;
	height: 430px;
}
.content-topic-dm-3{
	width: 350px;
	height: 430px;
}
.content-bg-topic-1 > .header-topic,
.content-bg-topic-1 > .content-text-topic{
	background-color: rgba(53,53,53,0.8);
}
.content-bg-topic-2 > .header-topic,
.content-bg-topic-2 > .content-text-topic{
	background-color: rgba(53,75,75,0.8);
}
.content-bg-topic-3 > .header-topic,
.content-bg-topic-3 > .content-text-topic{
	background-color: rgba(75,75,53,0.8);
}
.content-bg-topic-4 > .header-topic,
.content-bg-topic-4 > .content-text-topic{
	background-color: rgba(75,53,75,0.8);
}
.content-perfil-header{
	position: relative;
	top: -54px;
	float: right;
	margin-right: 40px;		
}
.content-perfil-header-dm{
	width: 350px;

}
.content-logo-position-dm{
	width: 430px;
}



/*****************************/
.header-dm-1{
	height: 100px;	
}
.header-dm-2{
	height: 80px;	
}
.header-dm-3{
	height: 60px;	
}
.header-dm-4{
	height: 48px;	
}
.header-dm-5{
	height: 30px;	
}
.header-dm-6{
	height: 20px;	
}
.header-fixed{
	position: fixed;
	z-index: 4000;
}
.header-relative{
	position: relative;
}
.header-absolute{
	position: absolute;
}
.footer-fixed{
	position: fixed;
	z-index: 400000;
}
.footer-relative{
	position: relative;
}
.footer-absolute{
	position: absolute;
}
.label-footer{
	position: relative;
	top: 80%;
}

.header-box-shadow{
	border-bottom: 4px solid #00dfd8; 
	-webkit-box-shadow: 1px 1px 1px rgba(53,53,53,0.8);;
	-moz-box-shadow: 1px 1px 1px rgba(53,53,53,0.8);;
	-ms-box-shadow: 1px 1px 1px rgba(53,53,53,0.8);;
	-o-box-shadow: 1px 1px 1px rgba(53,53,53,0.8);;
	box-shadow: 1px 1px 1px rgba(53,53,53,0.8);;
}
.footer{	
	height: 300px;	
}
.bg-content-1-opacity{
	background-color: rgba(60,60,60,0.1);
}
.bg-content-2-opacity{
	background-color: rgba(60,60,60,0.2);
}
.bg-content-3-opacity{
	background-color: rgba(60,60,60,0.3);
}
.bg-content-4-opacity{
	background-color: rgba(60,60,60,0.4);
}
.bg-content-5-opacity{
	background-color: rgba(60,60,60,0.5);
}
.bg-content-6-opacity{
	background-color: rgba(60,60,60,0.6);
}
.bg-content-7-opacity{
	background-color: rgba(60,60,60,0.7);
}
.bg-content-8-opacity{
	background-color: rgba(60,60,60,0.8);
}
.bg-content-9-opacity{
	background-color: rgba(60,60,60,0.9);
}
.bg-content-neutro-opacity{
	background-color: rgba(60,60,60,1);

	/**#3C3C3C*/
}
.bg-content{	 
    background-color: #F8F8F8;
}
.img-margin-auto{
	margin: 0px 0px 0px 7.5px;

}
.img-xl-dm-1{
  background-size: cover;
}

.img-xl-dm-2{
	width: 98%;
   height: 98%;
}

.img-xl-dm-3{
	width: 80%;
   height: 80%;
}
.img-dm-1{
	width: 100%;
	height: 100%;
}
.img-dm-2{
	width: 100px;
	height: 100px;
}
.img-dm-3{
	width: 90px;
	height: 90px;
}
.img-dm-4{
	width: 70px;
	height: 70px;
}
.img-dm-5{
	width: 60px;
	height: 60px;
}
.img-dm-6{
	width: 50px;
	height: 50px;
}
.img-dm-7{
	width: 40px;
	height: 40px;
}
.img-dm-8{
	width: 30px;
	height: 30px;
}
.img-dm-9{
	width: 18px;
	height: 18px;
}
.img-dm-mini{
	width: 10px;
	height: 10px;
}
/* Margenes que tiene las imagenes*/
.img-margin-top-1{
	margin-top: 25px;
}
.img-margin-top-2{
	margin-top: 20px;
}
.img-margin-top-3{
	margin-top: 15px;
}
.img-margin-top-4{
	margin-top: 10px;
}
.img-margin-top-5{
	margin-top: 8px;
}

.img-margin-right-1{
	margin-right: 25px;
}
.img-margin-right-2{
	margin-right: 20px;
}
.img-margin-right-3{
	margin-right: 15px;
}
.img-margin-right-4{
	margin-right: 10px;
}
.img-margin-right-5{
	margin-right: 8px;
}

.img-margin-left-1{
	margin-left: 25px;
}
.img-margin-left-2{
	margin-left: 20px;
}
.img-margin-left-3{
	margin-left: 15px;
}
.img-margin-left-4{
	margin-left: 10px;
}
.img-margin-left-5{
	margin-left: 8px;
}

.img-margin-bottom-1{
	margin-bottom: 25px;
}
.img-margin-bottom-2{
	margin-bottom: 20px;
}
.img-margin-bottom-3{
	margin-bottom: 15px;
}
.img-margin-bottom-4{
	margin-bottom: 10px;
}
.img-margin-bottom-5{
	margin-bottom: 8px;
}

.img-border-circle{
	border-radius: 50%;
}

.img-box-shadow{
	border-radius: 50%;
	box-shadow: 1px 1px 2px #CDCDCD, 1px 1px 2px #979797;
}
.img-rotate-90deg{
	transform: rotate(90deg);
} 


/*****************************/
	.content-grid{
		width: 90%;
		height: auto;
		background-color: transparent;
		margin: 25px auto 25px auto;				
	}
	
	.content-stats{
		position: relative;		
		width: 100%;
		top:32px;
		height: 800px;
		background-color:#CECECE;
	}

	.content-users-stats{
		position: absolute;
		
		top:8px;
		left: 5px;

		width: 25%;
		height: 740px;
		border-radius: 5px;
		background-color: #FFFFFF;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);
	}
	
	.content-graphic-stats{
		position: absolute;
		
		top:8px;
		left: 26%;
		width: 73.55%;

		height: 740px;
		border-radius: 5px;
		background-color: #FFFFFF;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);

	}

	.form-content-myfiles{
		margin:25px auto;
	}
	.form-myfiles-dm-1{
		background-color: #F6F6F6;
		
		width: 95%;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);
	}

	.form-myfiles-header{
		background-color: #0FC2AF;
		border-bottom: 1px solid rgba(0,0,0,0.08);
		text-align: center;
	}
	.form-myfiles-header>h1{
		padding-top:  20px;
		text-shadow: 0 -1px 0 #333, 0 1px 0 #EAEAEA;
		color: #FFFFFF;
	}
	
	.form-myfiles-article{
		height: 575px;
		-webkit-display: grid;
		   -moz-display: grid;
		    -ms-display: grid;
		     -o-display: grid;
		        display: grid;
		        display: -ms-grid;
		-webkit-grid-template-columns: 75% 25%;
		   -moz-grid-template-columns: 75% 25%;
			-ms-grid-template-columns: 75% 25%;
			 -o-grid-template-columns: 75% 25%;
			    grid-template-columns: 75% 25%;
			    grid-columns         : 75% 25%;
	}

	:root{
		--item-width :270px;
		--item-height:270px;
	}
	
	
	
	.form-myfiles-files-contents{	
		
		-webkit-display: grid;
		   -moz-display: grid;
		    -ms-display: grid;
		     -o-display: grid;
		        display: grid;
		        display: -ms-grid;
		-webkit-grid-template-columns: var(--item-width) var(--item-width) var(--item-width) var(--item-width);
		   -moz-grid-template-columns: var(--item-width) var(--item-width) var(--item-width) var(--item-width);
			-ms-grid-template-columns: var(--item-width) var(--item-width) var(--item-width) var(--item-width);
			 -o-grid-template-columns: var(--item-width) var(--item-width) var(--item-width) var(--item-width);
			    grid-template-columns: var(--item-width) var(--item-width) var(--item-width) var(--item-width);
			    grid-columns         : var(--item-width) var(--item-width) var(--item-width) var(--item-width);
		-webkit-grid-template-rows: auto auto;
		   -moz-grid-template-rows: auto auto;
		    -ms-grid-template-rows: auto auto;
		     -o-grid-template-rows: auto auto;
		        grid-template-rows: auto auto;	    
				grid-rows:1fr 1fr 1fr 1fr 1fr;

		-webkit-grid-gap: 10px;
		   -moz-grid-gap: 10px;
			-ms-grid-gap: 10px;
			 -o-grid-gap: 10px;
			    grid-gap: 10px;

		height: 575px;
		background-color: #F1F1F1;
	}
	.form-myfiles-item{
		margin-top: 10px;
		margin-left: 10px;
		height: var(--item-height);
		border-bottom-left-radius : 2px;
		border-bottom-right-radius: 2px;
		box-shadow:  0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);
	}
	.form-myfiles-item-article{
		height: 200px;
	}
	.form-myfiles-item-footer{
		border-top: 1px solid rgba(0,0,0,0.08);
		border-bottom-left-radius : 2px;
		border-bottom-right-radius: 2px;
		height: 70px;
	}
	.form-myfiles-item:hover{
		background-color: #A8A8A8;
	}

	.form-myfiles-detail{
		
		background-color: #F1F1F1;
		
		border-left: 1px solid rgba(0,0,0,0.08);
		height: 570px;
	}
	.form-myfiles-footer{
		border-top: 1px solid rgba(0,0,0,0.08);
		height: 30px;
		border-bottom-left-radius : 5px;
		border-bottom-right-radius: 5px;
	}

	.form-content{		
		margin: auto;
	} 

	.form-alert{
		width: 100%;
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: left;
	}
	
	.form-alert-color-danger{
		background-color: #EE8A8A;
	}
	.form-alert-color-success{
		background-color: #00CAB9;
	}

	.form-alert-square-radius{
		border-radius: 5px;
	}
	
	.form-alert-cardview{
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);
	}
	.form-content-dm{
		width: 50%;
	}

	.form-content-dm-perfil{	
		
		width: 70px;	
		z-index: 4000;	
	}
	
	.form-content-perfil-position{
		
	}
	
	.form-profile-nav-menu{
		width: 98%;		
		height: 30px;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);	
		background-color: #F3F3F3;
		border-radius: 2px;
		cursor:pointer;
		
	}
	
	.form-profile-nav-menu:hover{
		background-color: #AEAEAE;
	}
	

	.form-content-search{
		width: 99%;
		margin: auto;
		left: 8px;
	}

	.form-header-search{
		display: inline-block;
		width: 100%;
		margin:auto;
		background-color: #E9E9E9;
		border-bottom: 1px solid #DBDBDB;			
	}	
	
	.form-article-search{
		background-color: #E9E9E9;
	}

	.form-search-col{
		text-align: left;
		float: left;		
		padding-right: 10px;
		padding-left: 10px;
	}

	
	.form-search-col-border{
		border-left:.002px solid rgba(225,225,225,0.8);
		border-right:.002px solid rgba(225,225,225,0.8);

	}

	.form-search-col-dm-w-1{
		width: 125px;
	}
	.form-search-col-dm-w-2{
		width: 225px;
	}
	.form-search-col-dm-w-3{
		width: 350px;
	}
	.form-search-col-small-dm-w-1{
		width: 45px;
	}
	.form-search-col-dm-h-1{
		height: 35px;
	}
	.form-search-col-dm-h-2{
		height: 40px;
	}	
	.form-search-col-dm-h-3{
		height: 45px;
	}

	.form-search-agenda{
		max-width: 100%;
		margin: auto;
		background-color: #EEEEEE;		
	}

	.form-agenda-content{
		width: 210px;		
		margin: 25px;
		float: left;
		display: table;
		border-top: 1px solid #efefef;
		border-left: 1px solid #e8e8e8;
		border-bottom: 1px solid #e2e2e2;
		border-right:  1px solid #e8e8e8;
		background-color: rgb(255,255,255);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08); 
	}
	.form-agenda-content:hover{
		cursor: pointer;
		background-color: #00686A;	
		color: #FFFFFF;
	}
	.form-agenda-content:hover > .form-agenda-header{
		border-bottom: 1px solid #00BFB8;
	}
	.form-agenda-content:hover > .form-agenda-footer{
		border-top: 1px solid #00BFB8;
	}
	
	.form-agenda-rows{
		display: table-row;
		
	}

	.form-agenda-cell{
		display: table-cell;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.form-agenda-header{
		height: 50px;
		border-bottom: 1px solid #e2e2e2;
	}
	.form-agenda-article{
		text-align: left;
		height: 150px;
	}
	.form-agenda-footer{
		display: table;
		height: 50px;
		border-top: 1px solid #e2e2e2;
	}
	.form-agenda-footer > .form-agenda-rows{
		float: left;
	}
	.form-agenda-footer > .form-agenda-rows > .form-agenda-cell >   p{		
		text-align: left;
		font-size: 12px;
		margin-top: 8px;
	}
	.form-agenda-header > .form-agenda-rows > .form-agenda-cell > h5{
		color: #02E7E4;
		margin-top: 8px;
	}
	.form-search-row-effect-cardview{
		margin: auto;
		border-top: 1px solid #efefef;
		border-left: 1px solid #e8e8e8;
		border-bottom: 1px solid #e2e2e2;
		border-right:  1px solid #e8e8e8;	
		
		background-color: rgb(255,255,255);
		width: 99%;		
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08); 
	}
	.form-search-row-effect-cardview:hover{
		background-color: #00898C;

		color: #FFFFFF;	
	}
	.form-content-toolt-search{
		position: absolute;
		display: none;		
		width: 280px;
		background-color: #DFDFDF;		
	}
	.form-toolt-search-header{
		position: relative;
		height: 50px;
		width: 95%;
		top: 10px;
		margin: auto;
		text-align: center;
		background-color: #F2F2F2;		
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);
	}
	.form-toolt-search-header > h3 {
		padding-top: 8px;
		color: #02E7E4;	
	}

	.form-toolt-search-article{
		margin: 25px auto;
		padding-left: 15px;
	}

	.form-toolts-rows{
		margin-top: 15px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.form-content-dm-login{
		width: 98%;
	}
	.form-toolt-hide-show{
		position: absolute;		
		width: 25px;
		background-color: #DFDFDF;
		border: 2px solid #AFAFAF;
		margin: auto;
	}
	.form-toolt-action{
		position: relative;
		top: 50%;
	}
	.form-header{
		width: 100%;
		border-bottom: 1px solid;
		border-collapse: separate;
		border-spacing: 10px 5px;						
	}
		
	.form-header-padding-auto{
		padding-top: 20px;
		padding-bottom: 20px;					
	}	

	.form-article{
		display: table;
		width: 100%;
		border-collapse: separate;
		border-spacing: 10px 5px;	
		text-align: left;
		z-index: 2000;
	}
	
	.form-rows-group{
		display: table-row-group;
	}

	.form-rows{
		height: 30px;					
		display: table-row;	
		margin-left: auto;
		margin-right: auto;	
	}

	.form-rows-dm-1{
		width: 245px;
	}
	
	.form-rows-aling-center{		
		margin-left: 50px;
	}
	.form-col{
		display: table-column;
	}
	.form-cell{
		display: table-cell;
		/* border: 1px solid black;
								background-color: #C4E4EE; */						
	}
	.form-cell-dm-w-1{
		width: 100px;
		padding: 0;
		margin: 0;		
	}
	.label-content-form{
		padding: 5px;
	}
	.form-article-dm-1{
		height: 120px;
	}
	.form-article-dm-2{
		height: 120px;
	}

	.form-footer{
		display: table;
		width: 100%;
		border-collapse: separate;
		border-spacing: 10px 5px;
		text-align: center;
		border-top: 1px solid;
		
	}

	.form-header-dm-1{
		height: 80px;
	}

	.form-header-dm-2{
		height: 60px;
	}

	.form-header-dm-3{
		height: 40px;
	}

	.form-header-dm-4{
		height: 20px;
	}

	.form-footer-dm-1{
		height: 80px;
	}

	.form-footer-dm-2{
		height: 60px;
	}

	.form-footer-dm-3{
		height: 40px;
	}

	.form-footer-dm-4{
		height: 20px;
	}
		
	.form-bg-content-1{
		background-color: #E5E5E5;
	}

	.form-bg-content-2{
		background-color: #363636;
	}

	.form-bg-content-3{
		background-color: #00B2B1;
	}

	.form-bg-content-4{
		background-color: #646464;
	}

	.form-bg-content-5{
		background-color: #4B4B4B;
	}
	
	.form-border-square-1{
		border-radius: 15px;
	}

	.form-border-square-2{
		border-radius: 10px;
	}

	.form-border-square-3{
		border-radius: 5px;
	}

	.form-border-square-4{
		border-radius: 2px;
	}

	.form-border-radius-top-left{
		border-top-left-radius    : 3px;
	}

	.form-border-radius-top-right{
		border-top-right-radius   : 3px;
	}

	.form-border-radius-bottom-left{
		border-bottom-left-radius : 3px;
	}

	.form-border-radius-bottom-right{
		border-bottom-right-radius: 3px;
	}


	.form-position-fixed{
		position: fixed;
	}

	.form-z-index-static{
		z-index: 5000;
	}

	.form-bc-1{
		border-color:  #D3D3D3;
		-webkit-box-shadow:inset 0 1px 1px 0 rgba(245,245,245,0.8);
		box-shadow:inset 0 1px 1px 0 rgba(245,245,245,0.8);
	}

	.form-bc-2{
		border-color:  #4B4B4B;	
		-webkit-box-shadow:inset 0 1px 1px 0 rgba(75,75,75,0.8);
		box-shadow:inset 0 1px 1px 0 rgba(75,75,75,0.8);	
	}

	.form-content-data{
		width: auto;
		margin-top: -10%;
		margin-left: 20%;
	}

	.form-box-shadow{
		-webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(53,53,53,0.8);
		box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(53,53,53,0.8);
	}

	@media(max-width: 1366px){
		.form-content-perfil-position{
			margin-left: 90.12%;
		}
	}
	
	@media (max-width: 375px){
		.form-content-perfil-position{
			margin-left: 45%;
		}
		.form-content-dm-perfil{		
			top: 64px;
			width: 200px;		
		}
		.form-header-dm-2{
			height: 120px;
		}
	}
	

/* Apartado de border style*/

	.br-radius-top-left-st-1{
        border-top-left-radius: 50px;
	}
	.br-radius-top-left-st-2{
        border-top-left-radius: 20px;		
	}
	.br-radius-top-left-st-3{
        border-top-left-radius: 10px;		
	}
	.br-radius-top-left-st-4{
        border-top-left-radius: 3px;		
	}

	.br-radius-top-right-st-1{
        border-top-right-radius: 50px;
	}
	.br-radius-top-right-st-2{
        border-top-right-radius: 20px;		
	}
	.br-radius-top-right-st-3{
        border-top-right-radius: 10px;		
	}
	.br-radius-top-right-st-4{
        border-top-right-radius: 3px; 		
	}

	.br-radius-bottom-left-st-1{
       border-bottom-left-radius: 50px; 
	}
	.br-radius-bottom-left-st-2{
       border-bottom-left-radius: 20px;		
	}
	.br-radius-bottom-left-st-3{
       border-bottom-left-radius: 10px; 		
	}
	.br-radius-bottom-left-st-4{
       border-bottom-left-radius: 3px;		
	}

	.br-radius-bottom-right-st-1{
        border-bottom-right-radius: 50px;
	}
	.br-radius-bottom-right-st-2{
        border-bottom-right-radius: 20px;		
	}
	.br-radius-bottom-right-st-3{
        border-bottom-right-radius: 10px;		
	}
	.br-radius-bottom-right-st-4{
        border-bottom-right-radius: 3px;		
	}

/*****************************/

	.ancla-link{
		width: 100%;
		height: 2cm;	
		background-color: transparent;			
	}

/*****************************/

@media(max-width: 375px){
	.label-hide-movil{
		display: none;
	}
	.content-perfil-header-dm{margin-top: 10px; width: 95px;}
	.content-logo-position-dm{width: 150px;}
	
}