/*****************************************************************************************************************************************/
/*Efecto cardview*/
.cardview-effect-white{
	border-top: 1px solid #efefef;
	border-left: 1px solid #e8e8e8;
	border-bottom: 1px solid #e2e2e2;
	border-right:  1px solid #e8e8e8;
	background-color: #FFFFFF;	
	height: auto;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.08);    
}
/* .cardview-margin-all-1{
	margin: 30px;
} */
/* .cardview-dm-1{
	width: 400px;
} */

.cardview-img-dm-generity{
	width: 98%;
	height: 300px;
}
.cardview-footer{
	border-top: 1px solid #efefef;	
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}
.cardview-header{
	width: 100%;
	background-color: #00D7CA;
	border-bottom: 1px solid rgba(31,159,151,0.9);
	margin-bottom: 3px;	
	box-shadow: inset 0 1px 1px 0 rgba(31,159,151,0.9);
}
.cardview-header-margin-auto > h1,
.cardview-header-margin-auto > h2,
.cardview-header-margin-auto > h3,
.cardview-header-margin-auto > h4,
.cardview-header-margin-auto > h5,
.cardview-header-margin-auto > h6{
	position: relative;
	top: 25%;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);	
}
.cardview-article{
	width: 100%;
	height: auto;
}
.cardview-article > p{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.cardview-article > img{
	position: relative;
	margin: auto;
}
.cardview-footer-margin-auto > button{
	position: relative;
	top: 25%;
	margin:  3px;
}

.cardview-header-dm-1{
	height: 100px;
}
.cardview-header-dm-2{
	height: 75px;
}
.cardview-header-dm-3{
	height: 50px;
}
.cardview-header-dm-4{
	height: 25px;
}

.cardview-footer-dm-1{
	height: 100px;
}
.cardview-footer-dm-2{
	height: 75px;
}
.cardview-footer-dm-3{
	height: 50px;
}
.cardview-footer-dm-4{
	height: 25px;
}

.cardview-border-top-right-radius-1{
	border-top-right-radius: 10px;
}
.cardview-border-top-right-radius-2{
	border-top-right-radius: 5px;
}
.cardview-border-top-right-radius-3{
	border-top-right-radius: 1px;
}

.cardview-border-top-left-radius-1{
	border-top-left-radius: 10px;
}
.cardview-border-top-left-radius-2{
	border-top-left-radius: 5px;
}
.cardview-border-top-left-radius-3{
	border-top-left-radius: 1px;
}

.cardview-border-bottom-right-radius-1{
	border-bottom-right-radius: 10px;
}
.cardview-border-bottom-right-radius-2{
	border-bottom-right-radius: 5px;
}
.cardview-border-bottom-right-radius-3{
	border-bottom-right-radius: 1px;
}

.cardview-border-bottom-left-radius-1{
	border-bottom-left-radius: 10px;
}
.cardview-border-bottom-left-radius-2{
	border-bottom-left-radius: 5px;
}
.cardview-border-bottom-left-radius-3{
	border-bottom-left-radius: 1px;
}

/*
		Apartado de figuras
*/
.form-arrow-right-tooltip:after{
	content: '';
	position: relative;
	top: -70%;
	left: 98%;
	display: block;
	width: 0;
	height: 0;
	transform: rotate(90deg);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #3C3C3C;
}
.form-triagle-1:after{
	content: '';
	position: relative;
	top: -130%;
	left: 31%;
	display: block;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 15px solid #646464;
}

/* .form-triagle-2:after{
	content: '';
	position: relative;
	top: -111%;
    left: 7%;
	display: block;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 20px solid #4B4B4B;
} */


	
@media (max-width: 375px){
	.form-triagle-1:after{
		content: '';
		position: relative;
		top: -90%;
		left: 65%;
		display: block;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 18px solid #646464;
	}
}	




/******************************************/
main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
}

.dank-ass-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dank-ass-loader .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #00dfd8;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  -webkit-filter: drop-shadow(0 0 18px #00dfd8);
          filter: drop-shadow(0 0 18px #00dfd8);
}
.arrow.down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow.outer-1 {
  -webkit-animation-delay: -0.05556s;
          animation-delay: -0.05556s;
}
.arrow.outer-2 {
  -webkit-animation-delay: -0.11111s;
          animation-delay: -0.11111s;
}
.arrow.outer-3 {
  -webkit-animation-delay: -0.16667s;
          animation-delay: -0.16667s;
}
.arrow.outer-4 {
  -webkit-animation-delay: -0.22222s;
          animation-delay: -0.22222s;
}
.arrow.outer-5 {
  -webkit-animation-delay: -0.27778s;
          animation-delay: -0.27778s;
}
.arrow.outer-6 {
  -webkit-animation-delay: -0.33333s;
          animation-delay: -0.33333s;
}
.arrow.outer-7 {
  -webkit-animation-delay: -0.38889s;
          animation-delay: -0.38889s;
}
.arrow.outer-8 {
  -webkit-animation-delay: -0.44444s;
          animation-delay: -0.44444s;
}
.arrow.outer-9 {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.arrow.outer-10 {
  -webkit-animation-delay: -0.55556s;
          animation-delay: -0.55556s;
}
.arrow.outer-11 {
  -webkit-animation-delay: -0.61111s;
          animation-delay: -0.61111s;
}
.arrow.outer-12 {
  -webkit-animation-delay: -0.66667s;
          animation-delay: -0.66667s;
}
.arrow.outer-13 {
  -webkit-animation-delay: -0.72222s;
          animation-delay: -0.72222s;
}
.arrow.outer-14 {
  -webkit-animation-delay: -0.77778s;
          animation-delay: -0.77778s;
}
.arrow.outer-15 {
  -webkit-animation-delay: -0.83333s;
          animation-delay: -0.83333s;
}
.arrow.outer-16 {
  -webkit-animation-delay: -0.88889s;
          animation-delay: -0.88889s;
}
.arrow.outer-17 {
  -webkit-animation-delay: -0.94444s;
          animation-delay: -0.94444s;
}
.arrow.outer-18 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.arrow.inner-1 {
  -webkit-animation-delay: -0.16667s;
          animation-delay: -0.16667s;
}
.arrow.inner-2 {
  -webkit-animation-delay: -0.33333s;
          animation-delay: -0.33333s;
}
.arrow.inner-3 {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.arrow.inner-4 {
  -webkit-animation-delay: -0.66667s;
          animation-delay: -0.66667s;
}
.arrow.inner-5 {
  -webkit-animation-delay: -0.83333s;
          animation-delay: -0.83333s;
}
.arrow.inner-6 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/*==============================================================================*/
.loader {
  color: #00ffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}